* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.round1{
    padding: 10px;
    background: #467235;
    border: 1px solid #467235;
    position: absolute;
    border-radius:100%;
    margin-top: 20px;
}
.round2{
    padding: 10px;
   background: #467235;
   border: 1px solid #467235;
    position: absolute;
    border-radius:100%;
    margin-top: 100px;
}
.round3{
    padding: 10px;
    background: #467235;
    border: 1px solid #467235;
    position: absolute;
    border-radius:100%;
    margin-top: 180px;
}
.content{
    display: flex;
     background-image: url(photo/ai-generated-cake-picture.webp);
    height: 607px;
     justify-content: space-evenly;
    background-position: center;
    background-size: cover;
}
.contentone{
    margin-top: 120px;
     animation-name: top;
     animation-duration: 1s;
     color: black;
     
}
.contenttwo{
    margin-top: 120px;
     animation-name: top;
     animation-duration: 1s;
       color: black;
}
.input1{
    padding: 5px 10px 5px 10px;
    outline: none;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
  color: black;
}
.input3{
     padding: 5px 200px 5px 10px;
     outline: none;
     background: transparent;
     border: 1px solid rgb(0, 0, 0);
    color: black;
}
.input4{
     padding: 5px 200px 90px 10px;
     outline: none;
     background: transparent;
     border: 1px solid rgb(0, 0, 0);
     color: black;

}
input::placeholder{
    color: black;
}


.contentone>h1{
      font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    
}
.contenttwo>h1{
      font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
}
.input1{
    margin-top: 25px;
}
.input3,.input4{
    margin-top: 10px;
}
.submit{
    margin-top: 15px;
    padding: 10px 138px 10px 138px;
    border-radius: 30px;
    border: 1px solid #467235;
    background-color: #467235;
    color: #FFF78D;
}
@keyframes top {
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
       transform: translateY(0px);
       opacity: 1;
    }
}
